body{
    background: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

/* Se una # para seleccionar una ID */
#container{
    /*width: 70%;*/
    width: 1100px;
    margin: 0px auto;
    border: 1px red;
}

.article{

}